* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 65%;
}

html,
body {
  width: 100%;
  height: auto;
}

#nav-header {
  width: 100%;
  background-color: #d3574a;
  box-shadow: 0 0 10px rgba(226, 65, 64, 0.2);
  position: fixed;
  top: 0;
  z-index: 999;
}

#nav-header nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  width: 95%;
  margin: 0 auto;
}

#nav-header nav .logo-container {
  display: inline-flex;
  cursor: pointer;
  color: white;
  font-size: 2rem;
  text-decoration: none;
}

#nav-header nav .logo-container .logo {
  font-size: 3rem;
}

#nav-header nav .logo-container .logo-increase {
  color: white;
  padding-left: 10px;
  font-weight: bold;
}

footer ul li {
  display: inline;
}

footer .footer-about ul li {
  padding: 0 31px;
}

footer .footer-info ul li {
  width: 25%;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
}

footer .social-copyright .social-footer li {
  padding: 0 10px;
}

section.jumbotron .contact-container ul li {
  display: inline;
  padding-left: 12px;
}

#nav-header nav .nav-list li {
  display: inline;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 1.3rem;
}

div.jumbotron a {
  color: #434343;
  text-decoration: none;
  margin-left: 30px;
}

footer .footer-about ul li a {
  color: white;
  text-decoration: none;
}

footer .footer-info ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: baseline;
}

section.jumbotron .contact-container ul a {
  color: #434343;
  text-decoration: none;
}

footer .social-copyright .social-footer li a {
  color: #656565;
}

#nav-header nav .nav-list li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

section.jumbotron {
  width: 90%;
  margin: 130px auto 50px;
  background-color: white;
}

.map-container h1 {
  text-align: center;
  color: #d35649;
  font-size: 2.5rem;
  font-weight: 400;
  margin: 66px 0 40px;
}

section.jumbotron h2 {
  font-size: 3.5rem;
  font-weight: 300;
  color: #d35649;
  padding-left: 12px;
}

section.jumbotron .info-rows {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

section.jumbotron .info-rows .card {
  width: 48%;
  margin: 10px auto;
  font-size: 1.8rem;
  text-transform: uppercase;
}

footer .footer-info ul span {
  color: #d3574a;
  cursor: pointer;
}

section.jumbotron .info-rows .card span {
  font-weight: 600;
  color: #434343;
}

section.jumbotron .contact-container {
  margin: 12px;
  padding: 20px 0;
  font-size: 1.3rem;
}

footer .footer-info ul button {
  width: 64px;
  height: 38px;
  border: none;
  background-color: #434343;
  color: white;
  padding: 0;
  cursor: pointer;
}

section.jumbotron .contact-container button.btn-primary {
  float: right;
  clear: both;
  margin-bottom: 10px;
  background-color: #457db4;
  border: 0;
  font-size: 1.4rem;
  padding: 6px;
}

footer .footer-about ul {
  margin: auto;
  padding: 10px 0;
  border-top: 1px solid #434343;
  border-bottom: 1px solid #434343;
}

section.jumbotron .contact-container ul {
  float: right;
  clear: both;
}

div.jumbotron {
  width: 90%;
  margin: 0 auto;
  font-size: 2rem;
  text-transform: uppercase;
  word-spacing: 13px;
  letter-spacing: 8px;
  padding: 14px 20px;
  text-align: center;
  background-color: #eee;
}

.map-container {
  width: 90%;
  margin: 50px auto;
}

.map-container iframe {
  width: 100%;
}

footer {
  margin: 60px auto 0;
  background-color: black;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer .footer-about {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 10px 15px;
}

footer .footer-about .footer-about-list {
  margin: auto 0 auto auto;
}

footer .footer-about div {
  font-size: 3.5rem;
  padding: 10px 25px;
  border-radius: 100%;
  border: 1px solid #434343;
  margin: 0 -8px;
  cursor: pointer;
}

footer .footer-about .footer-media-list {
  margin: auto auto auto 0;
}

footer .footer-info {
  width: 100%;
  font-size: 1.3rem;
  margin: 20px 0;
}

footer .footer-info ul h4 {
  margin-bottom: 15px;
  font-size: 1.5rem;
}

footer .footer-info ul .footer-input {
  width: 84%;
}

footer .footer-info ul input[type=text] {
  background-color: inherit;
  color: white;
  padding: 0 7px;
  margin-right: -68px;
  height: 38px;
  outline: 0;
  border: 0.1rem solid #434343;
  border-right: none;
  width: 100%;
}

footer .footer-info ul input[type=text]:focus {
  outline: 0;
}

footer .social-copyright {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 0 30px;
  background-color: #1f1f1f;
  color: #656565;
  font-size: 1rem;
}

footer .social-copyright .social-footer {
  font-size: 1.5rem;
}

footer .social-copyright .footer-copyright {
  display: flex;
  word-spacing: 5px;
  letter-spacing: 3px;
}

@media only screen and (max-width: 364px) {
  #nav-header nav .nav-list li {
    padding: 10px 20px !important;
  }
}

@media only screen and (max-width: 576px) {
  #nav-header {
    height: 90px;
  }

  #nav-header nav {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  #nav-header nav .logo-container {
    margin: 8px auto 18px;
  }

  footer .footer-about .footer-about-list li {
    padding: 0 14px;
  }

  footer .footer-about .footer-media-list li {
    padding: 0 14px;
  }

  footer .footer-info .subscribe-list li {
    width: 100%;
    margin-bottom: 17px;
  }

  #nav-header nav .nav-list li {
    padding: 0 32px;
  }

  footer .footer-about {
    display: flex;
    flex-flow: column;
  }

  footer .footer-about .footer-about-list {
    order: 2;
    text-align: center;
    width: 100%;
    word-wrap: unset;
  }

  footer .footer-about .footer-media-list {
    order: 3;
    width: 100%;
    word-wrap: unset;
    text-align: center;
  }

  footer .footer-about .footer-logo {
    order: 1;
    font-size: 4rem;
    padding: 0;
    margin: auto;
    border: none;
    border-radius: 0;
  }

  footer .footer-info .subscribe-list {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  footer .footer-info .subscribe-list li p {
    margin-bottom: 0;
  }

  footer .social-copyright {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 130px;
    padding: 0;
  }

  footer .social-copyright .social-footer {
    margin-bottom: 17px;
  }

  footer .social-copyright .footer-copyright {
    text-align: center;
    display: flex;
    flex-flow: column;
  }
}

@media only screen and (max-width: 768px) {
  #nav-header nav .remove {
    display: none;
  }

  footer .footer-about .footer-about-list li {
    padding: 0 14px;
  }

  footer .footer-about .footer-media-list li {
    padding: 0 14px;
  }

  footer .footer-info .subscribe-list li {
    width: 100%;
    margin-bottom: 17px;
  }

  div.contact-container ul.contact-list li {
    display: block;
    padding: 0;
  }

  #nav-header nav .nav-list li {
    padding: 10px 34px;
  }

  section.jumbotron div.info-rows {
    display: flex;
    flex-flow: column;
    align-items: baseline;
    justify-content: center;
  }

  section.jumbotron div.info-rows .card {
    width: 95%;
  }

  div.contact-container ul.contact-list {
    float: none;
  }

  section.jumbotron .contact-container button.btn-primary {
    float: none;
  }

  footer .footer-about {
    display: flex;
    flex-flow: column;
  }

  footer .footer-about .footer-about-list {
    order: 2;
    text-align: center;
    width: 100%;
    word-wrap: unset;
  }

  footer .footer-about .footer-media-list {
    order: 3;
    width: 100%;
    word-wrap: unset;
    text-align: center;
  }

  footer .footer-about .footer-logo {
    order: 1;
    font-size: 4rem;
    padding: 0;
    margin: auto;
    border: none;
    border-radius: 0;
  }

  footer .footer-info {
    padding: 0 15px;
  }

  footer .footer-info .subscribe-list {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  footer .footer-info .subscribe-list li p {
    margin-bottom: 0;
  }

  footer .social-copyright {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 130px;
    padding: 0;
  }

  footer .social-copyright .social-footer {
    margin-bottom: 17px;
  }

  footer .social-copyright .footer-copyright {
    text-align: center;
    display: flex;
    flex-flow: column;
  }
}

@media only screen and (max-width: 1024px) {
  footer .footer-about ul li {
    padding: 0 13px;
  }

  .footer-info {
    padding: 0 15px;
  }

  .footer-info .subscribe-list {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .footer-info .subscribe-list li {
    width: 100%;
    margin-bottom: 17px;
  }

  .footer-info .subscribe-list li .footer-input {
    width: 100%;
    max-width: 299px;
  }

  .footer-info .subscribe-list li p {
    margin-bottom: 0;
  }
}
